@font-face {
    font-family: 'Acrobat Black';
    src: local('Acrobat Black'), local('Acrobat-Black'), url('./Fonts/Akrobat-Black.ttf') format('OpenType');
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    font-weight: bold;
    background-color: #3F3B3B;
    font-size: 20px;
    font-family: "Acrobat Black"; /* Acrobat Black 폰트 지정 */
    color: white;
    margin: 0; 
}

.wrapper {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    box-sizing: border-box;
}

.lists {
    display: flex;
    margin-right: auto;
}

.lists li {
    font-size: 20px;
    list-style-type: none;
    margin-left: 50px;
}

.regist {
    display: flex;
}

.regist li {
    font-size: 10px;
    list-style-type: none;
    margin-right: 20px;
}

.title {
    font-size: 40px;
    margin-left: 130px;
}
